In [14]:
def welcome():
    print("welcome everyone\n good morning guys\ni hope you guys are well today")
def bye():
    print("bye everyone\n see you tomorrow")

In [15]:
welcome()

welcome everyone
 good morning guys
i hope you guys are well today

In [16]:
bye()

bye everyone
 see you tomorrow

In [17]:
'''def add():
    x=int(input("enter the value of x:"))
    y=int(input("enter the value of y:"))
    return(x+y)'''
def add(x,y):
    return(x+y)

In [18]:
add(3,4)

7

In [19]:
#calling a function by passing arg
def named(name,age,email):
    print(f"name:{name}\nage:{age}\nemail:{email}")

In [20]:
named("praveen",10,'p@gmail.com')

name:praveen
age:10
email:p@gmail.com

In [21]:
named(10,"praveen",'p@gmail.com')

name:10
age:praveen
email:p@gmail.com

In [22]:
#position arg function
#keyword arg fuction
named(age=21,email="p@gmail.com",name="praveen")

name:praveen
age:21
email:p@gmail.com

In [23]:
#default arg function
def named(name,age,email,city="jaipur"):
    print(f"name:{name}\nage:{age}\nemail:{email}\ncity={city}")

In [24]:
named("praveen",20,"p@gmail.com")

name:praveen
age:20
email:p@gmail.com
city=jaipur

In [25]:
named("praveen","p@gmail.com",)

TypeError: named() missing 1 required positional argument: 'email'

In [28]:
named("praveen",20,"p@gmail.com","kota")

name:praveen
age:20
email:p@gmail.com
city=kota

In [30]:
named("praveen",20,"p@gmail.com",city="kota")

name:praveen
age:20
email:p@gmail.com
city=kota

In [31]:
#hierarchy: P>k>D
named(age=30,"ronak")

SyntaxError: positional argument follows keyword argument (1924964537.py, line 2)

In [33]:
named(age=30,"ronak","p@gmai.com","kota")

SyntaxError: positional argument follows keyword argument (1849366612.py, line 1)

In [39]:
named("ronak",30,email="p@gmai.com",city="kota")

name:ronak
age:30
email:p@gmai.com
city=kota

In [40]:
#variable len arg function/ position arbitrary arg function
def named(*name):
    print(name)
    print(type(name))

In [41]:
named("praven","lucky")

('praven', 'lucky')
<class 'tuple'>

In [48]:
def named(*name):
    for i in range(len(name)):
        if i==4:
            break
        print(f"student no.{i+1}: {name[i]}")

    print(type(name))

In [49]:
named("praveen","gatik","mike","tony","jhon")

student no.1: praveen
student no.2: gatik
student no.3: mike
student no.4: tony
<class 'tuple'>

In [50]:
#keyword arbitrary arg funtion
def named(**name):
    print(name)
    print(type(name))

In [54]:
named(start="praveen",last="chouhan",car="bmw",city="jaipur")

{'start': 'praveen', 'last': 'chouhan', 'car': 'bmw', 'city': 'jaipur'}
<class 'dict'>

In [69]:
def named(**names):
    for i in range(1):
        print(f"name:{names['first_name']}\n age:{names['age']}")
    print(names)

In [70]:
named(first_name="praveen",age=30,email="p@gmail.com",contact=7691091343)

name:praveen
 age:30
{'first_name': 'praveen', 'age': 30, 'email': 'p@gmail.com', 'contact': 7691091343}

In [74]:
named(first_name="praveen",age=30,email="p@gmail.com")

name:praveen
 age:30
{'first_name': 'praveen', 'age': 30, 'email': 'p@gmail.com'}

In [76]:
named(age="parveen",first_name=20)

name:20
 age:parveen
{'age': 'parveen', 'first_name': 20}

In [87]:
def common(batch_time,course,*name,**address):
    print(f"batch_time={batch_time}\ncourse={course}\nstud_name={name}\nstud_address={address}")

In [88]:
common(0.9,"multi-tech programing classes","praveen","rahul","keshav","garvit",city="jaipur",city2="kota")

batch_time=0.9
course=multi-tech programing classes
stud_name=('praveen', 'rahul', 'keshav', 'garvit')
stud_address={'city': 'jaipur', 'city2': 'kota'}

In [89]:
common(course="python",batch_time=9)

batch_time=9
course=python
stud_name=()
stud_address={}

In [90]:
#nested funtion

In [97]:
def upper():
    def inner():
        print("inner is runing")
    inner()
    print("outer is runing")
    inner()

In [98]:
upper()

inner is runing
outer is runing
inner is runing

In [103]:
#local variable:-When we declare variables inside a function, these variables will have a local scope (within the function).
#We cannot access them outside the function.
'''Python Nonlocal Variables
In Python, nonlocal variables are used in nested functions whose local scope is not defined. 
This means that the variable can be neither in the local nor the global scope.'''

'Python Nonlocal Variables\nIn Python, nonlocal variables are used in nested functions whose local scope is not defined. \nThis means that the variable can be neither in the local nor the global scope.'

In [104]:
"""Python Global Variables
In Python, a variable declared outside of the function or in global scope is known as a global variable. 
This means that a global variable can be accessed inside or outside of the function."""

'Python Global Variables\nIn Python, a variable declared outside of the function or in global scope is known as a global variable. \nThis means that a global variable can be accessed inside or outside of the function.'

In [116]:
a="global"
def checkvar():
    b="inner"
    print(a)
    print(b,"\n now out of function")
checkvar()
print(a)

print(b)

global
inner
 now out of function
global

NameError: name 'b' is not defined

In [111]:
checkvar()

global
inner
 now out of function

In [123]:
total_balance=int(input("enter the total balance:"))
print(total_balance)
global total_balance

enter the total balance: 2000

2000

In [128]:
total_balance=int(input("enter the total balance:"))
def withdraw():
    global total_balance
    total_balance
    withd=int(input("enter the ammount for withdraw:"))
    total_balance=total_balance-withd
    print(f"Net balance:{total_balance}")
def upi():
    print(f"net balane:{total_balance}")

enter the total balance: 10000

In [129]:
withdraw

In [130]:
withdraw()

enter the ammount for withdraw: 2000

Net balance:8000

In [131]:
upi()

net balane:8000

In [132]:
def display():
    return "hello everyone"

In [133]:
display()

'hello everyone'

In [134]:
var=display()

In [135]:
var

'hello everyone'

In [136]:
def power(num,pow):
    return num**pow

In [138]:
power(2,10)

1024

In [139]:
def outer():
    def inner():
        return"I am in runing in inner world"
    return inner

In [140]:
outer()

In [141]:
print(outer())

<function outer.<locals>.inner at 0x000002B9C2F5CE00>

In [142]:
var=outer()

In [143]:
var

In [145]:
var()

'I am in runing in inner world'

In [144]:
outer()()

'I am in runing in inner world'

In [152]:
def sort():
    x=[1,2,3,4,5,6,7,8,9,10]
    even_list=[]
    odd_list=[]
    for i in range(len(x)):
        if x[i]%2==0:
            even_list.append(x[i])
        else:
            odd_list.append(x[i])
    else:
        print(f"Even list:{even_list}")
        print(F"Odd list :{odd_list}")

In [153]:
sort()

Even list:[2, 4, 6, 8, 10]
Odd list :[1, 3, 5, 7, 9]